#FavortieMoviesHeader {
  color: white;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
}
.card {
  width: 18.5%;
  height: 10%;
}
#cardBox {
  color: black;
  display: flex;
  flex-wrap: wrap;
 justify-content: flex-start;
  width: 90%;
}