#searchHeader{
  width: 100%;
  display: flex;
  justify-content: center;
}
#searchSection {
  color: white;
  text-align: center;
  width: 75%;
  font-size: 1.9vw;
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  align-items: center;
 
}
#searchSection input {
  background-color: white;
  border-radius: 5vw;
  color: black;
  width: 20vw;
  height: 75%;
}
#searchBtn {
  border-radius: 1vw;
  color: black;
  background-color: white;
  border: 1px solid gray;
  padding: 1vw;
  
}
