html,
body {
}
#siteContainer {
  display: grid;
  grid-template-columns: 0.5fr 3fr; /* Two columns: sidebar and main content */
  grid-template-rows: 10% repeat(5, 1fr) 6%; /* Five rows of equal height and one for the footer */
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar main"
    "sidebar footer";
}

#siteHeader {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: black;
}

.main {
  grid-area: main;
  background-image: url("https://cdn.wallpapersafari.com/29/44/linm7I.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 170vh;
}
#mainGrid {
  display: flex;
  flex-direction: column;
}
.main h2 {
  color: white;
  text-align: center;
  width: 74%;
  font-size: 1.9vw;
}
#currentPopMoviesHeader {
  display: flex;
}
#currentPopMoviesHeader input {
  width: 1vw;
}
#weeklyMoviesLable,
#dailyMoviesLable {
  color: white;
  font-size: 1.3vw;
}
/* ! cards sec */
.card {
  width: 18.5%;
  height: 10%;
}
#cardBox {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
}
/* ! likes Bos sec */
.likesBox {
  position: relative;
  bottom: 10%;
  font-size: 1vw;
  height: max-content;
  display: flex;
  justify-content: center;
}
.likesBox:hover {
  cursor: pointer;
}
.favCardImgs {
  position: relative;
  transform: scale(0.7);
  z-index: 10;
}
.favCardImgs:hover {
  cursor: pointer;
  transform: scale(0.8);
  z-index: 15;
}

.likesBoxBorder {
  display: flex;
  justify-content: center;
  width: 75%;
  border: 0.01vw solid black;
  border-radius: 10vw;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
}
.likesBox {
  position: relative;
  bottom: 10%;
  font-size: 1vw;
}
/* ! pagination sec */
#paginationBox {
  display: flex;
  justify-content: center;
  width: 75%;
}
#pagination {
  width: 20%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3vw;
}
.pageSelector:hover,
#backToStart:hover,
#morePages:hover {
  cursor: pointer;
  color: #850d85;
}
/* ! sidebar */
#sidebar {
  grid-area: sidebar;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom, #000000, #444444);
  height: 100vh;
  position: fixed;
  width: calc(100% / 7);
}
#sidebar div {
  text-align: center;
  width: 10vw;
  height: 10vh;
  font-size: 2.3vw;
  font-weight: 600;
}
#sidebar div:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ! footer */
.grid-footer {
  grid-area: footer;
  background: linear-gradient(
    to right,
    #0b1033,
    #440a67,
    #6a0572,
    #87045b,
    #a9013b
  );
}
.grid-footer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "text links";
}
.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vw;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.github,
.facebook,
.linkedin {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 0.1vw black solid;
  height: 80%;
}

.facebook {
  background-image: url(https://img.freepik.com/free-icon/facebook_318-194827.jpg);
}
.linkedin {
  background-image: url(https://www.freepnglogos.com/uploads/linkedin-basic-round-social-logo-png-13.png);
}
