#favortieMoviesHeader {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 90%;
  align-items: center;
}
.main {
  display: flex;
  align-items: center;
}

#cardBox {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin-left: auto;
}
#prevPage,
#nextPage {
  background-color: #ffffff;
  border-radius: 10vw;
  padding: 1vh;
  color: black;
  text-align: center;
}
#prevPage {
  visibility: hidden;
}
