#searchHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}
#searchSection {
  color: white;
  text-align: center;
  width: 80%;
  font-size: 15px;
  display: flex;
  padding-left: 2vw;
  align-items: center;
}
#searchInputCont {
  margin-left: 1vw;
  display: flex;
  align-items: center;
}
#wantedMovieInput {
  width: 25vw;
  margin-left: 10px;
}
#searchBtn {
  color: white;
  margin-left: 3vw;
}
#searchBtn:hover {
  cursor: pointer;
}
