#searchHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}
#searchSection {
  color: white;
  text-align: center;
  width: 80%;
  font-size: 1.9vw;
  display: flex;
  padding-left: 2vw;
  align-items: center;
}
#searchInputCont {
  margin-left: 1vw;
  display: flex;
  align-items: center;
  
}
#wantedMovieInput {
 width: 20vw;
}
#searchBtn{
  color: white;
  margin-left: 0.2vw;
}
#searchBtn:hover{
  cursor: pointer;
}
/* #searchSection input {
  background-color: white;
  border-radius: 5vw;
  color: black;
  width: 20vw;
  height: 75%;
}
#searchBtn {
  border-radius: 1vw;
  color: black;
  background-color: white;
  border: 1px solid gray;
  padding: 1vw;
  
} */
